<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>

        <link rel="stylesheet" href="/pages/formas.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

</head>


<body>

    <div id="wrapper">

        <% include nav %>

            <div id="page-wrapper">

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Forma de Servicio</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Trámite capturado por <i>Lalo</i> el día: <i>21 agosto 2016</i>
                            </div>
                            <div class="panel-heading">
                                Última modificación por <i>Fulano</i> el día: <i>23 agosto 2016</i>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <form role="form">
                                            <div class="row form-row ">
                                                <div class="col-md-6 ">
                                                    <label>Pagado</label>
                                                    <div class="form-group input-group">
                                                        <span class="input-group-addon">$</span>
                                                        <input type="text" class="form-control" placeholder="0.00">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 ">
                                                    <label>Debe</label>
                                                    <div class="form-group input-group">
                                                        <span class="input-group-addon">$</span>
                                                        <input type="text" class="form-control" placeholder="0.00">
                                                    </div>
                                                </div>
                                            </div>
                                            <label>Formas de pago</label>
                                            <div class="form-group">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox">Efectivo
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox">Transferencia
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox">Depósito
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox">Cheque
                                                </label>
                                                <label class="checkbox-inline">
                                                    <input type="checkbox">Tarjeta de Crédito
                                                </label>
                                            </div>

                                            <hr>

                                            <div class="form-group" style="padding-bottom:25px;">
                                                <label>Servicios</label>
                                                <table id="servicesTable" class="table table-striped">
                                                    <thead>
                                                        <th width="30%">País</th>
                                                        <th width="30%">Tipo de Servicio</th>
                                                        <th width="30%">Importe</th>
                                                        <th width="10%"></th>
                                                    </thead>
                                                    <tr>
                                                        <td>
                                                            <select class="form-control" ">
                                                        <option>Australia</option>
                                                        <option>China</option>
                                                        <option>Vietnam</option>
                                                    </select>
                                                     </td>
                                                <td>
                                                    <select class="form-control ">
                                                        <option>Turista</option>
                                                        <option>Estudios</option>
                                                        <option>Negocio</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <div class="form-group input-group ">
                                                        <span class="input-group-addon ">$</span>
                                                        <input type="text " class="form-control " placeholder="0.00 ">
                                                    </div>
                                                </td>
                                                <td><button class="btn btn-danger btn-remove " onclick="$(this).parent().parent().remove(); return false; ">X</button></td>              
                                            </tr>
                                        </table>
                                         
                                        <button class="btn btn-success pull-right " onclick="btnPlusServices_click();return false; ">Agregar Servicio</button>                                        

                                    </div>

                                    <hr>                                    
                                    
                                    <div class="form-group " style="padding-bottom:35px; ">
                                        <label>Personas</label>
                                        <table id="personsTable" class="table table-striped " width="100% " style="width:100%; ">
                                            <thead>
                                                <th width="90% "></th>
                                                <th width="10% "></th>
                                            </thead>
                                            <tr>
                                                <td><input class="form-control " placeholder="Nombre de la persona... "></td>
                                                <td><div class="col-sm-2 "><button class="btn btn-danger btn-remove " onclick="$(this).parent().parent().parent().remove(); return false; ">X</button></div></td>
                                            </tr>
                                        </table>
                                        <button class="btn btn-primary pull-right " onclick="btnPlusPerson_click(); return false; ">Agregar Persona</button>                           
                                    </div>
                                    
                                    <hr>
                                    
                                    <div class="form-group ">
                      
                                        <div class="row form-row ">
                                            <div class="col-md-6 ">
                                                <label>Empresa</label>
                                                <input class="form-control " placeholder="Nombre de la empresa... ">
                                            </div>
                                            <div class="col-md-6 ">
                                                <label>Contacto</label>
                                                <input class="form-control " placeholder="Nombre de la persona... ">                                            
                                            </div>
                                        </div>
                                       
                                        <div class="row form-row ">
                                            <div class="col-md-6 ">
                                                <label>Teléfono móvil</label>
                                                <input class="form-control " placeholder="Número de teléfono... ">

                                            </div>
                                            <div class="col-md-6 ">
                                                <label>Teléfono(s)</label>
                                                <input class="form-control " placeholder="Número(s) de teléfono... ">                                            
                                            </div>
                                        </div>
                                        <div class="row form-row ">                                            
                                            <div class="col-md-6 ">
                                                <label>E-mail</label>
                                                <input class="form-control " placeholder="alguien@correo.com ">
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group ">
                                                <label>¿Es foráneo?</label>
                                                <div class="radio ">
                                                    <label>
                                                        <input type="radio" value="yes " name="rdbForeaneo ">Sí
                                                    </label>
                                                </div>                                    
                                                <div class="radio ">
                                                    <label>
                                                        <input type="radio" value="no " name="rdbForeaneo ">No
                                                    </label>
                                                </div>                                            
                                                </div>                    
                                            </div>                        
                                        </div>
                                        
                                        <div class="form-group ">            
                                            <label for=" ">Dirección de Envío</label>                                            
                                            <textarea class="form-control " rows="3 "></textarea>
                                        </div>

                                        <div class="row form-row ">            
                                             <div class="col-md-6 ">
                                                <label>Fecha Viaje México</label>
                                                <input class="form-control datepicker " placeholder="día/mes/año ">                                            
                                            </div>
                                             <div class="col-md-6 ">
                                                <label>Fecha Entrega</label>
                                                <input class="form-control datepicker " placeholder="día/mes/año ">
                                            </div>
                                        </div>

                                        
                                    </div>
                                    
                            </form>

                                    </div>
                                    <!--<div class="col-lg-6 "></div>-->
                                </div>

                              
                        </div>
                        <!-- /.panel-body -->            
                    </div>
                    <!-- /.panel -->
                </div>
                <!--/col container-->

                <div class="col-lg-12 "></div>
            </div>    
            <!--/main row -->
            
        </div>
        <!-- /#page-wrapper -->
    
    </div>
    <!-- /#wrapper -->

    <% include scripts %>

    <script src="/pages/formas.js "></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js "></script>
    <script>
        $( function() {
            $( ".datepicker " ).datepicker();
        } );
    </script>


</body>

</html>