<!DOCTYPE html>
<html lang="en">

<head>
    <% include head %>

        <link rel="stylesheet" href="/pages/tramite.css">

        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

        <style>
            [ng\:cloak],
            [ng-cloak],
            .ng-cloak {
                display: none !important;
            }
        </style>

</head>


<body>

    <div id="wrapper">

        <% include nav %>

            <div id="page-wrapper" ng-app="tuVisaAdmin" ng-controller="tramiteController" ng-cloak>

                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" ng-show="!tramite.numero"><i>Trámite Nuevo</i></h1>
                        <h1 class="page-header" ng-show="tramite.numero">Trámite Número <i>{{tramite.numero}}</i></h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading" ng-show="tramite.capturadoPor">
                                Trámite capturado por <i>{{tramite.capturadoPor}}</i> en la fecha: <i>{{tramite.fechaCaptura}}</i>
                            </div>
                            <div class="panel-heading" ng-show="tramite.modificadoPor">
                                Última modificación por <i>{{tramite.modificadoPor}}</i> el día: <i>tramite.fechaUltimaModificacion</i>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>
                                                    Estado del trámite
                                                </label>
                                                <div class="form-group input-group">
                                                    <select class="form-control" ng-model="tramite.estatus">
                                                        <option>PENDIENTE</option>
                                                        <option>ENTREGADO</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row form-row ">
                                                <div class="col-md-4 ">
                                                    <label>Importe Total</label>
                                                    <div class="form-group input-group ">
                                                        <span class="input-group-addon ">$</span>
                                                        <input type="text " class="form-control " readonly value="{{importeTotal.toLocaleString()}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <label>Pagado</label>
                                                    <div class="form-group input-group ">
                                                        <span class="input-group-addon ">$</span>
                                                        <input type="text " class="form-control " readonly value="{{importePagado.toLocaleString()}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <label>Debe</label>
                                                    <div class="form-group input-group ">
                                                        <span class="input-group-addon ">$</span>
                                                        <input type="text " class="form-control " readonly value="{{importeDebe.toLocaleString()}}">
                                                    </div>
                                                </div>

                                            </div>

                                            <hr>

                                            <div class="form-group " style="padding-bottom:25px; ">
                                                <label>Pagos</label>
                                                <table id="servicesTable " class="table table-striped ">
                                                    <tr>
                                                        <th width="30% ">Importe</th>
                                                        <th width="30% ">Forma de Pago</th>
                                                        <th width="30% ">Fecha</th>
                                                        <th width="10% "></th>
                                                    </tr>
                                                    <tr ng-repeat="pago in tramite.pagos">
                                                        <td>
                                                            <div class="form-group input-group ">
                                                                <span class="input-group-addon ">$</span>
                                                                <input type="number" class="form-control " ng-model="pago.monto" ng-change="calcularTotales()" step="any" placeholder="0.00">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <select class="form-control " ng-model="pago.tipo">
                                                                <option ng-repeat="formaDePago in formasDePago">{{formaDePago}}</option>                                                    
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <md-datepicker ng-model="pago.fecha" md-open-on-focus md-placeholder="seleccionar"></md-datepicker>
                                                        </td>

                                                        <td><button class="btn btn-danger btn-remove " ng-click="quitarPago($index)">X</button></td>
                                                    </tr>
                                                </table>

                                                <button class="btn btn-primary pull-right" ng-click="agregarPago()">Agregar Pago</button>

                                            </div>


                                            <hr>

                                            <div class="form-group " style="padding-bottom:25px; ">
                                                <label>Servicios</label>
                                                <table id="servicesTable " class="table table-striped ">
                                                    <thead>
                                                        <th width="60% ">Tipo Servicio</th>
                                                        <th width="30% ">Precio de Lista</th>
                                                        <th width="10% "></th>
                                                    </thead>
                                                    <tr ng-repeat="servicio in tramite.servicios">
                                                        <td>
                                                            <select class="form-control " ng-model="servicio.tipo" ng-change="actualizarPrecioServicio(servicio)">
                                                                    <option ng-repeat="tipoServicio in tiposServicio">{{tipoServicio.nombre}}</option>
                                                                </select>
                                                        </td>
                                                        <td>
                                                            <div class="form-group input-group ">
                                                                <span class="input-group-addon ">$</span>
                                                                <input type="text " class="form-control " readonly value="{{servicio.precio.toLocaleString()}}">
                                                            </div>
                                                        </td>
                                                        <td><button class="btn btn-danger btn-remove " ng-click="quitarServicio($index)">X</button></td>
                                                    </tr>
                                                </table>

                                                <button class="btn btn-primary pull-right " ng-click="agregarServicio()">Agregar Servicio</button>
                                            </div>

                                            <hr>

                                            <div class="form-group " style="padding-bottom:35px; ">
                                                <label>Personas</label>
                                                <table id="personsTable" class="table table-striped " width="100% " style="width:100%; ">
                                                    <thead>
                                                        <th width="90% "></th>
                                                        <th width="10% "></th>
                                                    </thead>
                                                    <tr ng-repeat="persona in tramite.personas">
                                                        <td>
                                                            <div class="input-group">
                                                                <input class="form-control" style="width:50%;" placeholder="Nombre(s)" ng-model="persona.nombre">
                                                                <input class="form-control" style="width:50%;" placeholder="Apellido(s) " ng-model="persona.apellido">

                                                            </div>

                                                        </td>
                                                        <td>
                                                            <div class="col-sm-2 "><button class="btn btn-danger btn-remove " ng-click="quitarPersona($index)">X</button></div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <button class="btn btn-primary pull-right " ng-click="agregarPersona()">Agregar Persona</button>
                                            </div>

                                            <hr>



                                            <div class="row form-row ">
                                                <div class="col-md-6 ">
                                                    <label>Empresa</label>
                                                    <input class="form-control " ng-model="tramite.empresa" placeholder="Nombre de la empresa... ">
                                                </div>
                                                <div class="col-md-6 ">
                                                    <label>Contacto</label>
                                                    <input class="form-control " ng-model="tramite.contacto" placeholder="Nombre de la persona... ">
                                                </div>
                                            </div>

                                            <div class="row form-row ">
                                                <div class="col-md-6 ">
                                                    <label>Teléfono móvil</label>
                                                    <input class="form-control " ng-model="tramite.telefonoMovil" placeholder="Número de teléfono... ">

                                                </div>
                                                <div class="col-md-6 ">
                                                    <label>Teléfono(s)</label>
                                                    <input class="form-control " ng-model="tramite.telefono" placeholder="Número(s) de teléfono... ">
                                                </div>
                                            </div>
                                            <div class="row form-row ">
                                                <div class="col-md-6 ">
                                                    <label>E-mail</label>
                                                    <input class="form-control " ng-model="tramite.email" placeholder="alguien@correo.com ">
                                                </div>
                                                <div class="col-md-6 ">
                                                    <div class="form-group ">
                                                        <label>¿Es foráneo?</label>
                                                        <div class="radio ">
                                                            <label>
                                                    <input type="radio"  ng-model="tramite.esForaneo" ng-value="true" name="rdbForeaneo ">Sí
                                                </label>
                                                        </div>
                                                        <div class="radio ">
                                                            <label>
                                                    <input type="radio" ng-model="tramite.esForaneo" ng-value="false" name="rdbForeaneo ">No
                                                </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label for=" ">Dirección de Envío</label>
                                                <textarea class="form-control " ng-model="tramite.direccionDeEnvio" rows="3 "></textarea>
                                            </div>

                                            <div class="row form-row ">
                                                <div class="col-md-6 ">
                                                    <label>Fecha Viaje México</label>
                                                    <md-datepicker ng-model="tramite.fechaViajeMexico" md-open-on-focus md-placeholder="seleccionar"></md-datepicker>                                                    
                                                </div>
                                                <div class="col-md-6 ">
                                                    <label>Fecha Entrega</label>
                                                    <md-datepicker ng-model="tramite.fechaEntrega" md-open-on-focus md-placeholder="seleccionar"></md-datepicker>                                                    
                                                </div>
                                            </div>

                                            <div class="form-group ">
                                                <label for=" ">Fecha(s) Destino(s)</label>
                                                <textarea ng-model="tramite.fechasDestino" class="form-control " rows="3 "></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label>Documentos Requeridos:</label>
                                            </div>
                                            <div id="divDocumentosRequeridos" class="form-group">
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" ng-model="tramite.reqPasaporte" value="Pasaporte">Pasaporte
                                                        </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                                <input type="checkbox" ng-model="tramite.reqSolicitud" value="Solicitud">Solicitud
                                                            </label>
                                                    </div>
                                                    <div class="checkbox">
                                                             <label>                                                                 
                                                                <input type="checkbox" ng-model="tramite.reqFotografias" value="Fotografía(s)">Fotografía(s)
                                                            </label>
                                                             <select ng-model="tramite.numFotografias">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                            </select>
                                                                                                                
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                                <input type="checkbox" ng-model="tramite.reqExamenesMedicos" value="Exámenes Médicos">Exámenes Médicos
                                                            </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                                <input type="checkbox" ng-model="tramite.reqPasaporteExtranjero" value="Pasaporte Extranjero">Pasaporte Extranjero
                                                            </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                                <input type="checkbox" ng-model="tramite.reqSolvencia" value="Solvencia">Solvencia
                                                            </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                                <input type="checkbox" ng-model="tramite.reqItinerario" value="Itinerario (vuelos/barcos)">Itinerario (vuelos/barcos)
                                                            </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                                <input type="checkbox" ng-model="tramite.reqHotel" value="Hotel">Hotel
                                                            </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                                <input type="checkbox" ng-model="tramite.reqResidencia" value="FM-Residente Legal">FM-Residente Legal
                                                            </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="checkbox">
                                                        <label>
                                                                <input type="checkbox" ng-model="tramite.reqCartaEmpresaMexico" value="Carta de Empresa México">Carta de Empresa México
                                                            </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                                <input type="checkbox" ng-model="tramite.reqCartaInvitacion" value="Carta de Invitación">Carta de Invitación
                                                            </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                                <input type="checkbox" ng-model="tramite.reqCartaAceptacion" value="Carta de Aceptación">Carta de Aceptación
                                                            </label>
                                                    </div>
                                                    <div class="checkbox">
                                                        <label>
                                                                <input type="checkbox" ng-model="tramite.reqVisaUSA" value="Visa U.S.A.">Visa U.S.A.
                                                            </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row form-row "></div>

                                            <div class="form-group">
                                                <label for="txtDocumentosRequeridos">Otros Documentos Requeridos:</label>                                                (uno por línea)
                                                <textarea id="txtDocumentosRequeridos" class="form-control " rows="3 "></textarea>
                                            </div>

                                            <div class="form-group ">
                                                <label for=" ">Observaciones</label>
                                                <textarea class="form-control " rows="3 "></textarea>
                                            </div>

                                            <button type="button" class="btn btn-success btn-lg pull-right" ng-click="guardarTramite()">Guardar Trámite</button>

                                    </div>

                                    </form>

                                </div>
                                
                            </div>


                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!--/col container-->

                <div class="col-lg-12 "></div>
            </div>
            <!--/main row -->

    </div>
    <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <% include scripts %>


        <!--<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js "></script>-->


        <!-- Angular Material requires Angular.js Libraries -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

        <script src="/pages/tramite.js "></script>

       

</html>